input {
    font-family: 'PressStart', sans-serif;
    margin: auto;
    min-width: 350px;
    max-width: 450px;
    height: 40px;
    display: flex;
    border-radius: 0.25rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    font-size: 0.8rem;
    text-align: center;
    box-sizing: border-box;
    transition: border-color 0.15s ease-in-out;
}